header
{
	border-bottom: 2px gray solid;
}

header div h1 a
{
	
	display: inline-block;
	color: rgb(100, 0, 0);
	text-shadow: 1px 1px 3px rgb(255,213,213);
	
}

body
{
	color: gray;
	background-color: rgb(3,70,124);
}
div
{
	display: inline-block;
	margin-left:20px;
}

nav
{
	display: inline-block;
	margin-left:500px;
}

nav li
{
	
    display:inline-block;
    margin-right: 50px;
	
}
a
{
	color: black;
	text-decoration: none;
}
nav a
{
    font-size: 1.3em;
    color: rgb(255,213,213);
    text-decoration: none;
	border-bottom:2px rgb(100, 0, 0) outset;
	padding: 10px;
	text-shadow: 1px 1px 3px rgb(100,0,0);
	
}
.bouton_toutcourt
{
	
	display: inline-block;
	border: 1px solid black;
	border-radius:10px;
	box-shadow:2px 2px 2px black;
	width: 40%;
	height: 100%;
	text-align: justify;
	background-color: rgb(3,70,124);
	color: rgb(255,213,213);
	padding-left:10px;
	padding-top:5px;
	line-height: 10em;
	
}
.bouton_toutcourt:hover
{
	box-shadow: 0 0 0 ;
	filter: brightness(90%);
	font-size:97%;
}
